services:
  kestra:
    image: kestra/kestra:latest
    container_name: kestra
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - KESTRA_JAVA_OPTS=-Xmx1024m
    volumes:
      - ./storage:/data/kestra
